   /*CONFIGURACOES PADRAO DO ARQUIVO */
   
   
   
   /*Definicao de variaveis*/
   :root{
        --azul: #2a09e5;
        --preto: #141414; 
   }

   /*Resetando parametros inciais*/

   *{
       margin: 0;
       padding: 0;
       box-sizing: border-box;
   }
   /**--------------------------------------------*/


   /*Elementos base*/
   body{
       background: var(--preto);
       font-family: 'Arial', Times, serif;
       color: white;  
    }  

    /*Orientaçao conteudos cabeçalho*/

    header .container{
        display: flex;
        justify-content: space-around;
        flex-direction: row; /*Valor padrão*/
        align-items: center;
    }

    header .logo{
        display: flex;
        justify-content: start;
        flex-direction: row; 
        align-items: center;
    }
    
    header .links{
        display: flex;
        justify-content: center;
        flex-direction: row; 
        align-items:center;
    }

    header .itens-lado{
        display: flex;
        justify-content: space-around;
        flex-direction: row; 
        align-items: center;

    }
  

    header .logo{
        margin-top: 10px;
        color: var(--azul);
        font-family: 'Arial black', Helvetica, sans-serif;
        font-size: 50px;
        margin-bottom: 10px;
    }
    
   header  nav a{
      text-decoration: none;
      color: #AAA;
      margin-right: 30px;

   }

   header  nav a:hover{
       color: #fff;
   }


   .top10 .titulo{
       margin-top: 30px;
       margin-left: 10px;   
       margin-bottom: 10px;
       font-size: 30px;
   }

   .recomendacoes .titulo{
    margin-top: 5px;
    margin-left: 10px;  
    margin-bottom: 10px; 
    font-size: 30px;
   }




/**-------------------configuracao do box------------------*/

.box-filmes{
    margin-top: 10px;
    height: 100%;
    width: 100%;
    display: block;
}

.carrossel-filmes{
    margin-top: 10px;
}
