@media screen and (max-width: 700px) {
    header .container{
        display: flex;
        flex-direction: column;
    }

    .container .botao{
        margin-top: 5px;
        width: 190px;
        height: 50px;
    }

    .container{
        width: 80%;
    }
}


@media screen and (max-width: 600px) {
    header .container{
        display: flex;
        flex-direction: column;
    }

    header .logo{
        font-size: 30px;
        margin-left: 20px;
    }

    header .navbar{
        display: block;
        margin-left: 80px;
    }

     .titulo{
        display:flex;
        justify-content: center;
        align-items: center;
        font-size: 10px;
    }

    .sinopse{
        font-size: 15px
    }

    .botao{
        width: 100%;
        font-size: 12px;
              
    }

    .wallpaper{
        height: 500px;
    }


    header .itens-lado{
        margin-bottom: 10px;
        margin-left: 50px;
    }

    main .titulo{
        font-size: 30px;
    }
}