@media screen and (max-width: 700px) {
    .header .container{
        display: flex;
        flex-direction: column;
    }

    .container .botao{
        margin-top: 5px;
        width: 190px;
        height: 50px;
    }

    .container{
        width: 80%;
    }
}


@media screen and (max-width: 400px) {
    header .container{
        display: flex;
        flex-direction: column;
    }

    header .logo{
        font-size: 20px;
    }

    header .links{
        display: flex;
        justify-content: center;
        align-items: center;
    }

     .titulo{
        display:flex;
        justify-content: center;
        align-items: center;
        font-size: 10px;
    }

    .sinopse{
        font-size: 15px
    }

    .botoes{
        width: 20px;
        height: 5px;
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header .itens-lado{
        margin-bottom: 10px
    }
}